body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

label {
  position: relative;
  font-size: 0.8rem;
  color: #2b2b2b;
  background-color: transparent;
  padding: 4px;
}

input, textarea, select, button {
  border: solid 1px #2b2b2b;
  background-color: #eeeeee;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 5px;
  margin: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
}

button {
  padding: 0.35rem 0.9rem;
}

h1 {
  font-size: 18px;
  border-top: solid 1px #2b2b2b;
  border-bottom: solid 1px #2b2b2b;
  margin: 0;
  padding: 4px;
  background-color: #b5b5b547;
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}

.w-100 {
  width: 100%;
}

.m-0 {margin: 0px}
.m-1 {margin: 1px}
.m-2 {margin: 2px}
.m-3 {margin: 3px}
.m-4 {margin: 4px}
.m-5 {margin: 5px}

.p-0 {padding: 0}
.p-1 {padding: 1px}
.p-2 {padding: 2px}
.p-3 {padding: 3px}
.p-4 {padding: 4px}
.p-5 {padding: 5px}


.rota-label {
  border-radius: 50%;
  padding: 5px;
  border: solid 3px #fff;
  margin-right: 8px;
}

.rota-carregada {
  border-color: #7bf97b;
}


/** ACCORDION **/

.accordion input.accordion-trigger {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-tab {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgba(43, 43, 43, 0.65);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  border-bottom: solid 1px white;
  margin-bottom: 5px;
}

.accordion label.acc-lbl {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  color: white;
}

.accordion-tab:hover {
  background: rgba(43, 43, 43, 0.44);;
}

.accordion label.acc-lbl::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  float: left;
}

.accordion input:checked + label.acc-lbl::after {
  transform: rotate(90deg);
}

.accordion input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
  opacity: 1;
}

/*.accordion-content {*/
/*  max-height: 0;*/
/*  padding: 0 1em;*/
/*  transition: all .35s;*/
/*  opacity: 0;*/
/*}*/


/** FORMS **/
.form {
  display: table
}

.form-row {
  display: table-row;
}

.form-field {
  display: table-cell
}

.form label {
  position: absolute;
  font-size: 0.8rem;
  color: #2b2b2b;
  background-color: transparent;
  padding: 4px;
}

.form-input-prep {
  display: flex;
  width: 100%;
  margin-bottom: 4px;
}

.form-input-prep span {
  background-color: #b5b5b517;
  border: solid 1px #6f6f6f;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  margin: 4px 0px 4px 4px;
  padding: 4px;
}

.form-input-prep select, .form-input-prep input {
  background-color: #b5b5b517;
  border: solid 1px #6f6f6f;
  border-radius: 0 5px 5px 0;
  margin: 4px 4px 4px 0;
  outline: none;
  width: 100%;
}


/** RESIZABLE PANE IN THE ASS **/
.resizable-pane-wrapper {
  height: 100vh;
  width: 100vw;
  border: none;
  display: flex;
}

.resizable-pane-pane {
  min-width: 200px;
}

.resizable-pane-left {
  width: 35%;
  padding-right: 10px;
}

.resizable-pane-right {
  padding-left: 10px;
  position: relative;
  width: calc(75% - 10px);
}

.resizable-pane-gutter {
  width: 10px;
  height: 100%;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
  display: flex;
  align-items: center;
  align-content: center;
}

.resizable-pane-gutter::before {
  content: "\001C1";
  color: white;
  vertical-align: center;
  text-shadow: 0px 0px 1px #FFFFFF;
}


div.tab-squared {
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  align-content: flex-start;
  width: 100%;
  /*border-bottom: 1px solid #6f6f6f;*/
}

div.tab-squared div {
  display: inline-block;
  border: solid 1px #6f6f6f;
  border-right: 0;
  border-bottom: 0;
  padding: 4px;
  float: left;
  margin: 0;
  text-align: center;
  color: #c6c6c6;
}

div.tab-squared:hover {
  cursor: pointer;
}

.tab-squared-content {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
  min-height: 200px;
  border: solid 1px #6f6f6f;
  border-radius: 0px 5px 5px 5px;
}

div.tab-squared-content.active {
  opacity: 1;
  display: block;
}

div.tab-squared div:first-child {
  border-radius: 5px 0 0 0;
}

div.tab-squared div:last-child {
  border-right: solid 1px #6f6f6f;
  border-radius: 0 5px 0 0;
}

div.tab-squared div.active {
  color: #0b0b0b;
}


/* TAB GERAL */
ul.tab {
  margin: 0;
  padding: 0;
}

ul.tab li {
  display: inline-block;
  border: solid 1px #6f6f6f;
  border-bottom: 0;
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
  float: left;
  margin: 0;
  text-align: center;
  color: #c6c6c6;
  width: 50%;
}

ul.tab li.active, ul.tab li:hover {
  color: #6f6f6f;
  background-color: #ededed;
}

div.tab-content {
  display: block;
  clear: both;
  padding: 0;
  border: solid 1px #6f6f6f;
  border-radius: 0 0 5px 5px;
  overflow: auto;
  height: 80%;
}

.tab-row label {
  display: block;
  width: 100%;
  position: relative;
  padding-left: 4px;
}
